nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #181818;
}
nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0px 150px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.portfolio-main-heading {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#spid {
  color: #fd6e0a;
}

.citem {
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
}

.header {
  background-color: #fff8f3;
}

.baner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}

.profile-hardy {
  width: 500px;
  height: 600px;
}
