nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #181818;
}
nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0px 150px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.portfolio-main-heading {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#spid {
  color: #fd6e0a;
}

.citem {
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
}

header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.baner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-hardy {
  width: 500px;
  height: 600px;
}

.baner-greating {
  font-size: 45px;
  color: #474747;
}
.baner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.bds {
  margin-bottom: 30px;
  font-family: Open Sans;
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  max-width: 585px;
}

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}

.section-title {
  color: #181818;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
}

.des {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-size: 18px;
}
main {
  max-width: 1140px;
  margin: 130px auto;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
#what-i-do {
  padding: 30px 150px;
}

.skill-container {
  display: flex;
  gap: 24px;
}
.skil {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
  color: #757575;
}

.resume-colum-title {
  color: #474747;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.resume-container {
  display: flex;
  gap: 50px;
}

.resume-item-descripation {
  color: #757575;
}
.resume-item-institute {
  color: #757575;
}

.resume-item-title {
  color: #474747;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
}

.resume-container hr {
  margin: 30px;
}

.download-cv {
  text-align: center;
  margin-top: 50px;
}

footer {
  display: flex;
  background-color: #fff8f3;
  gap: 120px;
  padding: 130px 200px;
  margin-top: 100px;
}
.footer-colum {
  width: 50%;
}
.contact input,
textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: 0;
}

.social-links1 {
  margin-right: 30px;
}

#upto {
  margin-top: 0px;
}

.ri {
    width: 461px;
}
